<!-- views/courses.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/styles.css">
  <title>Courses</title>
</head>
<body>
  <h1>Courses</h1>
  <!-- Add content related to courses and videos -->
  <a href="/home" class="arrow-link">&#8592; Back to Home</a>
</body>
</html>
